## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_data/WeatherPy_database.csv", index_col = 0)
city_data_df.head()

,City,Country,Lat,Long,Max Temp,Humidity,Clouds,Wind,Current Descrption
City_ID,,,,,,,,,
0,Barrow,US,71.2906,-156.7887,-16.58,76,100,4.61,overcast clouds
1,Lavrentiya,RU,65.5833,-171.0000,-2.97,87,18,6.73,few clouds
2,Vaini,TO,-21.2000,-175.2000,80.76,78,40,0.00,scattered clouds
3,Provideniya,RU,64.3833,-173.3000,4.98,70,30,6.26,scattered clouds
4,Punta Arenas,CL,-53.1500,-70.9167,48.31,49,20,17.27,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,Country,Lat,Long,Max Temp,Humidity,Clouds,Wind,Current Descrption
City_ID,,,,,,,,,
2,Vaini,TO,-21.2000,-175.2000,80.76,78,40,0.00,scattered clouds
6,Acapulco de Juárez,MX,16.8634,-99.8901,80.42,74,0,16.11,clear sky
9,Pangkalanbuun,ID,-2.6833,111.6167,74.07,98,100,2.53,overcast clouds
12,Nānākuli,US,21.3906,-158.1547,82.35,61,75,11.50,broken clouds
15,Ituiutaba,BR,-18.9689,-49.4650,85.03,54,78,4.94,broken clouds
16,Faanui,PF,-16.4833,-151.7500,83.05,76,7,20.15,clear sky
17,Luganville,VU,-15.5333,167.1667,80.96,83,100,12.06,overcast clouds
25,St. George's,GD,12.0564,-61.7485,80.42,72,98,16.33,overcast clouds
26,Rikitea,PF,-23.1203,-134.9692,79.00,68,24,20.27,few clouds
29,George Town,MY,5.4112,100.3354,78.73,89,20,3.44,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City                  292
Country               292
Lat                   292
Long                  292
Max Temp              292
Humidity              292
Clouds                292
Wind                  292
Current Descrption    292
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City,Country,Lat,Long,Max Temp,Humidity,Clouds,Wind,Current Descrption
City_ID,,,,,,,,,
2,Vaini,TO,-21.2000,-175.2000,80.76,78,40,0.00,scattered clouds
6,Acapulco de Juárez,MX,16.8634,-99.8901,80.42,74,0,16.11,clear sky
9,Pangkalanbuun,ID,-2.6833,111.6167,74.07,98,100,2.53,overcast clouds
12,Nānākuli,US,21.3906,-158.1547,82.35,61,75,11.50,broken clouds
15,Ituiutaba,BR,-18.9689,-49.4650,85.03,54,78,4.94,broken clouds
...,...,...,...,...,...,...,...,...,...
693,Achutupo,PA,9.2000,-77.9833,83.23,76,97,6.08,overcast clouds
695,Nabire,ID,-3.3667,135.4833,74.91,87,90,4.61,overcast clouds
697,Pandan,PH,14.0453,124.1694,78.39,88,100,14.76,overcast clouds
701,Belém,BR,-1.4558,-48.5044,77.04,94,75,5.75,moderate rain
702,Gorontalo,ID,0.5412,123.0595,74.39,95,100,1.48,moderate rain

In [7]:
preferred_cities_df.count()

City                  292
Country               292
Lat                   292
Long                  292
Max Temp              292
Humidity              292
Clouds                292
Wind                  292
Current Descrption    292
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City","Country", "Max Temp","Current Descrption", "Lat", "Long"]].copy()

In [9]:
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Descrption,Lat,Long,Hotel Name
City_ID,,,,,,,
2,Vaini,TO,80.76,scattered clouds,-21.2000,-175.2000,
6,Acapulco de Juárez,MX,80.42,clear sky,16.8634,-99.8901,
9,Pangkalanbuun,ID,74.07,overcast clouds,-2.6833,111.6167,
12,Nānākuli,US,82.35,broken clouds,21.3906,-158.1547,
15,Ituiutaba,BR,85.03,broken clouds,-18.9689,-49.4650,
16,Faanui,PF,83.05,clear sky,-16.4833,-151.7500,
17,Luganville,VU,80.96,overcast clouds,-15.5333,167.1667,
25,St. George's,GD,80.42,overcast clouds,12.0564,-61.7485,
26,Rikitea,PF,79.00,few clouds,-23.1203,-134.9692,
29,George Town,MY,78.73,few clouds,5.4112,100.3354,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Long"]
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df= hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
clean_hotel_df= hotel_df.dropna(inplace=True)
clean_hotel_df=hotel_df

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Descrption} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Long"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

In [15]:
fig

Figure(layout=FigureLayout(height='420px'))